<!DOCTYPE html>
<html>
<head>
  <title>Ideas</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    body{

      background-image: url('http://cdn.designrshub.com/wp-content/uploads/2012/08/11_lined_paper_texture.jpg');
      background-repeat: none;
    }

  </style>
</head>
<body>

<%= yield %>

</body>
</html>
